## Q10: Produce a list of facilities with a total revenue less than 1000. The output of facility name and total revenue, sorted by revenue. Remember that there's a different cost for guests and members!

In [1]:
import sqlite3
from sqlite3 import Error

In [2]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
                SELECT name, sum(cost) as revenue
                FROM (SELECT bookid, facid, name,
                        CASE WHEN memid =0 THEN slots * guestcost
                            ELSE slots * membercost
                            END AS cost
                      FROM Bookings
                        INNER JOIN Facilities
                        USING ( facid )
                        JOIN Members
                        USING (memid)) AS sub
                GROUP BY name HAVING revenue < 3000
                ORDER BY revenue
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)
('Badminton Court', 1906.5)

## Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order

In [3]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
                SELECT surname, firstname,  reference
                FROM 
                        (SELECT * FROM Members) AS sub1
                            INNER JOIN
                        (SELECT CASE WHEN surname='guest' THEN 'N/A' ELSE firstname || ' ' || surname END AS reference, memid 
                         FROM Members) AS sub2
                            ON sub1.recommendedby = sub2.memid
                ORDER BY surname, firstname
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Bader', 'Florence', 'Ponder Stibbons')
('Baker', 'Anne', 'Ponder Stibbons')
('Baker', 'Timothy', 'Jemima Farrell')
('Boothe', 'Tim', 'Tim Rownam')
('Butters', 'Gerald', 'Darren Smith')
('Coplin', 'Joan', 'Timothy Baker')
('Crumpet', 'Erica', 'Tracy Smith')
('Dare', 'Nancy', 'Janice Joplette')
('Genting', 'Matthew', 'Gerald Butters')
('Hunt', 'John', 'Millicent Purview')
('Jones', 'David', 'Janice Joplette')
('Jones', 'Douglas', 'David Jones')
('Joplette', 'Janice', 'Darren Smith')
('Mackenzie', 'Anna', 'Darren Smith')
('Owen', 'Charles', 'Darren Smith')
('Pinker', 'David', 'Jemima Farrell')
('Purview', 'Millicent', 'Tracy Smith')
('Rumney', 'Henrietta', 'Matthew Genting')
('Sarwin', 'Ramnaresh', 'Florence Bader')
('Smith', 'Jack', 'Darren Smith')
('Stibbons', 'Ponder', 'Burton Tracy')
('Worthington-Smyth', 'Henry', 'Tracy Smith')

## Q12: Find the facilities with their usage by member, but not guests

In [4]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
            SELECT name, sum(slots) AS total_slots
            FROM Bookings JOIN Facilities USING (facid)
            WHERE memid>0
            GROUP BY name
            ORDER BY total_slots
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Massage Room 2', 54)
('Squash Court', 418)
('Table Tennis', 794)
('Pool Table', 856)
('Snooker Table', 860)
('Tennis Court 2', 882)
('Massage Room 1', 884)
('Tennis Court 1', 957)
('Badminton Court', 1086)

## Q13: Find the facilities usage by month, but not guests

In [9]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
            SELECT strftime('%m', starttime) AS month, name, sum(slots) AS total_slots
            FROM Bookings JOIN Facilities USING (facid)
            WHERE memid>0
            GROUP BY month, name
            ORDER BY month, name
                    """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('07', 'Badminton Court', 165)
('07', 'Massage Room 1', 166)
('07', 'Massage Room 2', 8)
('07', 'Pool Table', 110)
('07', 'Snooker Table', 140)
('07', 'Squash Court', 50)
('07', 'Table Tennis', 98)
('07', 'Tennis Court 1', 201)
('07', 'Tennis Court 2', 123)
('08', 'Badminton Court', 414)
('08', 'Massage Room 1', 316)
('08', 'Massage Room 2', 18)
('08', 'Pool Table', 303)
('08', 'Snooker Table', 316)
('08', 'Squash Court', 184)
('08', 'Table Tennis', 296)
('08', 'Tennis Court 1', 339)
('08', 'Tennis Court 2', 345)
('09', 'Badminton Court', 507)
('09', 'Massage Room 1', 402)
('09', 'Massage Room 2', 28)
('09', 'Pool Table', 443)
('09', 'Snooker Table', 404)
('09', 'Squash Court', 184)
('09', 'Table Tennis', 400)
('09', 'Tennis Court 1', 417)
('09', 'Tennis Court 2', 414)